services:
  # Repository
  prestashop.module.extrashippinglabels.repository:
    class: 'PrestaShop\Module\ExtraShippingLabels\Repository\ShippingLabelRepository'
    public: true
    arguments:
      $connection: '@doctrine.dbal.default_connection'
      $dbPrefix: '%database_prefix%'

  PrestaShop\Module\ExtraShippingLabels\Repository\ShippingLabelRepository:
    alias: 'prestashop.module.extrashippinglabels.repository'
    public: true

  # Controllers
  PrestaShop\Module\ExtraShippingLabels\Controller\Admin\ConfigureController:
    autowire: true
    autoconfigure: true

  PrestaShop\Module\ExtraShippingLabels\Controller\Admin\ManualTabController:
    autowire: true
    autoconfigure: true

  PrestaShop\Module\ExtraShippingLabels\Controller\Admin\MinimalistController:
    autowire: true
    autoconfigure: true

  PrestaShop\Module\ExtraShippingLabels\Controller\Admin\SecuredController:
    autowire: true
    autoconfigure: true

  PrestaShop\Module\ExtraShippingLabels\Controller\BulkLabelGenerationController:
    autowire: true
    autoconfigure: true

  prestashop.module.extrashippinglabels.grid.query_builder:
    class: 'PrestaShop\Module\ExtraShippingLabels\Grid\Query\ShippingLabelQueryBuilder'
    public: true
    arguments:
      $connection: '@doctrine.dbal.default_connection'
      $dbPrefix: '%database_prefix%'

  # Grid definition factory
  prestashop.module.extrashippinglabels.grid.definition.factory:
    class: 'PrestaShop\Module\ExtraShippingLabels\Grid\Definition\Factory\ShippingLabelGridDefinitionFactory'
    parent: 'prestashop.core.grid.definition.factory.abstract_grid_definition'
    public: true
    tags:
      - 'prestashop.core.grid.definition.factory'

  # Grid data factory
  prestashop.module.extrashippinglabels.grid.data_factory:
    class: 'PrestaShop\PrestaShop\Core\Grid\Data\Factory\DoctrineGridDataFactory'
    public: true
    arguments:
      $gridQueryBuilder: '@prestashop.module.extrashippinglabels.grid.query_builder'
      $hookDispatcher: '@prestashop.core.hook.dispatcher'
      $queryParser: '@prestashop.core.grid.query.doctrine_query_parser'
      $gridId: 'shipping_label_grid'

  # Grid factory
  prestashop.module.extrashippinglabels.grid.factory:
    class: 'PrestaShop\PrestaShop\Core\Grid\GridFactory'
    public: true
    arguments:
      $definitionFactory: '@prestashop.module.extrashippinglabels.grid.definition.factory'
      $dataFactory: '@prestashop.module.extrashippinglabels.grid.data_factory'
      $filterFormFactory: '@prestashop.core.grid.filter.form_factory'
      $hookDispatcher: '@prestashop.core.hook.dispatcher'

  # Admin controller
  PrestaShop\Module\ExtraShippingLabels\Controller\Admin\ShippingLabelController:
    autowire: true
    autoconfigure: true
    public: true
